* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(61, 146, 201);
}

a: hover,
a: focus {
  text-decoration: underline;
}

h3 {
  font-weight: 100;
}

/* LAYOUT CSS */
.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

#layout {
  padding: 0;
}

.header {
  text-align: center;
  top: auto;
  margin: 3rem auto;
}

.sidebar {
  background: rgb(61, 79, 93);
  color: #fff;
}

.brand-title,
.brand-tagline {
  margin: 0;
}

.brand-title {
  text-transform: uppercase;
}

.brand-tagline {
  font-weight: 300;
  color: rgb(176, 202, 219);
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-itrem {
  display: inline-block;
  * display: inline;
  zoom: 1;
}

.nav-itrem a {
  background: transparent;
  border: 2 px solid rgb(176, 202, 219);
  color: #fff;
  margin-top: 1rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-size: 85%;
}

.nav-itrem a: hover,
.nav-itrem a: focus {
  border: 2 px solid rgb(61, 146, 201);
  text-decoration: none;
}

.content-subhead {
  text-transform: uppercase;
  color: #aaa;
  border-bottom: 1 px solid #eee;
  padding: 0.4rem 0;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.content {
  padding: 2rem 1rem 0;
}

.post {
  padding-bottom: 2rem;
}

.post-title {
  font-size: 2rem;
  color: #222;
  margin-bottom: 0.2rem;
}

.post-avatar {
  border-radius: 50px;
  float: right;
  margin-left: 1rem;
}

.post-description {
  color: #444;
  line-height: 1.8rem;
}

.post-meta {
  color: #999;
  font-size: 90%;
  margin: 0;
}

.post-category {
  margin: 0 0.1rem;
  padding: 0.3rem 1rem;
  color: #fff;
  background: #999;
  font-size: 80%;
}

.post-category-design {
  background: #5aba59;
}

.post-category-pure {
  background: #4d85d1;
}

.post-category-yui {
  background: #8156a7;
}

.post-category-js {
  background: #df2d4f;
}

.post-images {
  margin: 1rem 0;
}

.post-image-meta {
  margin-top: -3.5rem;
  margin-left: 1rem;
  color: #fff;
  text-shadow: 0 1 px 1 px #333;
}

.skills-list > ul {
  column-count: 2;
}

.footer {
  padding: 1rem 0;
}

.footer a {
  color: #ccc;
  font-size: 80%;
}

.footer.pure-menu a: hover,
.footer.pure-menu a: focus {
  background: none;
}

@media(min-width: 48rem) {
  .content {
    padding: 2rem 3rem 0;
    margin-left: 25%;
  }

  .header {
    margin: 80% 2rem 0;
    text-align: right;
  }

  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
  }

  .footer {
    text-align: center;
  }
}