html {
  font-size: 100%;
}

.wrapper {
  margin: 2rem;
}

.heading {
  color: #600588;
  font-family: 'Merriweather', 'Georgia', serif;
  font-weight: bold;
}

.heading__work {
  color: #600588;
}
.heading__work > span {
  margin-left: 1rem;
}

.body-text {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  font-size: .9rem;
  margin: : .5rem 1rem;
}

.bold {
  font-weight:  bold;
}

.italic {
  font-style: italic;
}

.link1 {
  color: #600588;
}

.link2 {
  color: #000588;
}

ul.columns {
  columns: 3 auto;
}

img.left {
 float: left;
 width: 320px;
 height: 200px;
 padding: 0 20px 20px 0;
}

